<div class="bodybackground">
    <div class="container" style="margin-top:80px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-fluid" style="max-width: 240px" src="../../assets/uni7_logo_.png">
            </div>
        </div>
        <!-- Login -->
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="background-color:#E8EEE8; margin-top: 40px">
                <div class="card-body">
                    <div class="form-row align-items-center" style="margin-bottom: 8px">
                        <label class="sr-only" for="inlineFormInputGroupEmail">E-mail</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-user-md fa-fw"></i></div>
                            </div>
                            <input type="text" [(ngModel)]="email" class="form-control" id="inlineFormInputGroupEmail"
                                placeholder="E-mail">
                        </div>
                    </div>

                    <div class="form-row align-items-center" style="margin-bottom: 8px">
                        <label class="sr-only" for="inlineFormInputGroupSenha">Senha</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-key fa-fw"></i></div>
                            </div>
                            <input type="password" [(ngModel)]="senha" class="form-control"
                                id="inlineFormInputGroupSenha" placeholder="Senha">
                        </div>
                    </div>

                    <div class="form-row align-items-center" style="margin-bottom: 8px">
                        <button id="btAutenticar" *ngIf="!spinnerAutenticando" (click)="login()" class="btn btn-success btn-block">Entrar</button>
                        <button *ngIf="spinnerAutenticando" class="btn btn-warning btn-block disabled">
                            Autenticando...
                        </button>
                    </div>

                    <div style="width: 100%"><a class="btn btn-link" data-toggle="modal" href="#modalEsqueci"
                            style="width: auto">>>Esqueci a senha</a></div>
                    <hr />
                    <a class="btn btn-light" data-toggle="modal" href="#modalCadastro" style="width: 100%">Desejo
                        solicitar acesso
                    </a>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>
<!-- Modal Erro -->
<div class="modal" tabindex="-1" role="dialog" id="modalErro">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-erro">
                <h5 class="modal-title">Erro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{erroDetalhe}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Mensagem -->
<div class="modal" tabindex="-1" role="dialog" id="modalMsg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{msgTitulo}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{msgDetalhe}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Cadastrar -->
<div class="modal fade" id="modalCadastro" role="dialog">
    <div class="modal-dialog">
        <!-- Conteúdo -->
        <div class="modal-content">
            <div class="modal-header modal-header-info">
                <h5 class="modal-title">Solicitar cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 8px">
                    <div class="col-lg-12">
                        <strong style="margin-left: 2px">
                            <span id="Label8">Nome</span></strong><br />
                        <input type="text" id="tbNomeCadastro" [(ngModel)]="nomeCadastro" class="form-control" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 8px">
                    <div class="col-lg-12">
                        <strong style="margin-left: 2px">
                            <span id="Label8">E-mail</span></strong><br />
                        <input type="text" id="tbEmailCadastro" [(ngModel)]="emailCadastro" class="form-control" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 8px">
                    <div class="col-lg-12">
                        <strong style="margin-left: 2px">
                            <span id="Label8">Mensagem</span></strong><br />
                        <textarea id="tbMsgCadastro" [(ngModel)]="msgCadastro" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr />
                        <button id="btCadastrar" (click)="solicitarCadastro()" class="btn btn-success btn-block">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Esqueci senha -->
<div class="modal fade" id="modalEsqueci" role="dialog">
    <div class="modal-dialog">
        <!-- Conteúdo -->
        <div class="modal-content">
            <div class="modal-header modal-header-info">
                <h5 class="modal-title">Solicitar nova senha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom: 8px">
                    <div class="col-lg-12">
                        <strong style="margin-left: 2px">
                            <span id="Label8">E-mail</span></strong><br />
                        <input type="text" id="tbEmailEsqueci" [(ngModel)]="emailEsqueci" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr />
                        <button id="btEsqueci" (click)="enviarNovaSenha()" class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>